body {
  margin: auto;
  color: lightblue;
}

header {
  max-width: 800px;
  margin: auto;
}

header h1 {
  color: darkgreen;
  text-align: center;
}

.menu {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: gold;
}

.menu p {
  margin: 0.5em;
  float: right;
}

.menu .searchIcon {
  width: 10%;
  max-width: 20px;
  padding: 0.2em;
  margin: auto;
}

.row {
  width: 100%;
  flex-wrap: nowrap;
}

.map {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 400px;
}

.infoWindow {
  font-size: 1.2em;
}

.infoWindow h2 {
  color: black;
}

.searching {
  position: absolute;
  width: 10em;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.searching-hidden .searching {
  transform: translate3d(-12em, 0, 0);
  transition: transform 0.2s;
}

.searching tr {
  width: 40px;
}

.searching td {
  background-color: white;
}

.searching td:hover {
  font-size: 1.2em;
  color: black;
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 0.75em;
  }
}
