body {
  margin: auto;
}
.header h1 {
  text-align: center;
}
.row {
  width: 100%;
  flex-wrap: nowrap;
}
.map {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 400px;
}
.searchIcon {
  width: 10%;
  max-width: 25px;
}
.searching {
  position: absolute;
  width: 10em;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}
.searching-hidden .searching {
  transform: translate3d(-12em, 0, 0);
  transition: transform 0.2s;
}
.searchBar {
  height: 50px;
  max-width: 25%;
}
.searching td {
  background-color: white;
}
.searching td:hover {
  font-size: 1.2em;
  background-color: yellow;
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 0.75em;
  }
  .map {
    font-size: 1.2em;
  }

}
